body {margin:0;}

.mainhead {
  overflow: hidden;
  background-color: #cd3434;
  position: fixed;
  top: 0;
  width: 100%;
  
}

/* .mainhead div.head  {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12x;
  text-decoration: none;
  font-size: 17px;
} */

.head  {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center; 
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-decoration: none;
    font-size: 17px;
  }

.mainhead span:hover {
  background: #ddd;
  color: black;
}

.main {
    width: 100%;
    background-color: #d3c11b4d;
    position: fixed;
  padding: 16px;
  margin-top: 55px;
  height: 1500px; /* Used in this example to enable scrolling */
}
.inner1 {
   float:left; 
}

.inner2{
   float:left; 
   clear: left;
}
.Custombutton{
    padding-right: 10px;
    flex-direction: row;
}

.Bbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
  }
  
  .Bbutton3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  font-weight: bold;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
@media (max-width: 800px) {
    .Custombutton {
      flex-direction: column;
    }
  }