body {
  font-family: 'Roboto','Open Sans', sans-serif;
  font-size: 22px;
  margin:0;
  color: #333;
  background-color: #f6f7f9;
}
.mainheader {
  overflow: hidden;
  background-color: #346cb0;
  position: fixed;
  top: 0;
  width: 100%;
}
.head{
  color: #fff;
  font-size: 16px;
  /* border-right: 1px solid; */
}
.head .inner1{
 font-weight: 700;
}
.mainhead span:hover {
  background: #ddd;
  color: black;
}

.main-container {
  width: 100%;
  background-color: #f6f7f9;
  margin-top: 62px;
  height: 80vh; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-01{
  font-size: calc(1.6rem + 1.5vw);
  text-shadow: 1px 1px 5px rgba(0,0,0,.20);
}
.heading-02{
  font-size: calc(1.4rem + 1.5vw);
  text-shadow: 1px 1px 5px rgba(0,0,0,.20);
}
.divider{
  border: 1px solid;
  position: absolute;
  width: 110px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -10px;
}

.Bbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .Bbutton3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }

.button {
  display: inline-block;
  padding: 10px 30px 12px;
  font-size: 24px;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  margin: 0 12px;
}
.btn-small{
  display: inline-block;
  padding: 10px 30px 12px;
  font-size: 20px;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  margin: 0 6px;
}
.back-wrapper{
  position: absolute;
  top: 85px;
  right: 5px;
}
.button:hover {background-color: #3e8e41}

.btn-back{
  background-color: #232f3e;
  color: #fff;
  padding: 7px 17px 9px 18px;
  font-size: 16px;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 50px;
  font-weight: 600;
}
@media (max-width: 800px) {
    .Custombutton {
      flex-direction: column;
    }
  }